.wy-nav-top,
.wy-side-nav-search {
  background-color: hsl(34, 20%, 50%);
  color: hsl(0, 0%, 100%);
}
#dummy a {
  color: hsl(0, 75%, 50%)
}
#dummy a:visited {
  color: hsl(0, 75%, 28%)
}

.wy-nav-content {
  max-width: initial
}
